<a href="https://colab.research.google.com/github/buaindra/gcp_utility/blob/main/bigdata/PySpark_Program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PySpark

#### Install pyspark

In [ ]:
!pip install pyspark

#### import pyspark and create spark session

In [5]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

#### Read csv file

In [6]:
df = spark.read.csv("/content/sample_emp.csv", header=True)
df.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+