<a href="https://colab.research.google.com/github/buaindra/gcp_utility/blob/main/bigdata/colab/Azure_Databricks_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Azure Databricks and Spark
### Ref:
1. Coursera Course: https://www.coursera.org/learn/perform-data-science-with-azure-databricks/lecture/Wn6zD/explain-azure-databricks
2. Coursera Course: https://www.coursera.org/learn/big-data-integration-processing/home/week/1

## Data Engineering evolution
1. Types of Data:
  1. Sturctured Data (RDMS: MSSQL, Oracle, Postgres, MySQL)
  2. Semi-Structured Data (Json, XML)
  3. Un-Structured Data (files, Images, Videos)

2. Bigdata Criteria:
  1. Scalability
    1. **Vertical scalling**: singale machine got higher CPU, Memory, Disk Storage and its vertically increase the single system. Its complex and time taking and old fashioned. 
    2. **Horizontal scalling**: multiple same machines added into the network. For distributed approch, its so faster to scale up and down horizontally.
  2. **Fault-tolerance** and **High-availibility (HA)**
  3. **Cost-Effectiveness**

3. Bigdata solution approach:
  1. Monolithic: One Standalone, Large and Robust system, to handle bigdata (Teradata, Exadata). Supports structured and semi-structured.
  2. Distributed: Takes many smaller clusters to store data distributed way and process the data parallel manner.

## Hadoop
**Apache Hadoop** is an open source framework that is used to efficiently store and process large datasets ranging in size from gigabytes to petabytes of data. Instead of using one large computer to store and process the data, Hadoop allows clustering multiple computers to analyze massive datasets in parallel more quickly.

> Distributed computing and parallel processing

#### Hadoop consists of four main core modules:
1. Hadoop Distributed File System (HDFS) –
  > A distributed file system that runs on standard or low-end hardware. HDFS provides better data throughput than traditional file systems, in addition to high fault tolerance and native support of large datasets.

  > Component:
    1. Name Node (NN):
      1. NN keeping the records of file metadata (file name, size, directory location, file blocks, block id, block location etc.)
    2. Data Node (DN):
      1. Typically, in **Hadoop 2.0 Block size is 128 MB**.

2. Yet Another Resource Negotiator (YARN) –
  > Cluster Resourse Manager

  > Manages and monitors cluster nodes and resource usage. It schedules jobs and tasks.

  > Main Component:
    1. RM: Resourse Manager
    2. NM: Node Manager
    3. AM: Application Master (*Need to check more*)
      1. RM tells any one of the NM to create AM container, inside AM container single and individual application is being executing.
       

3. MapReduce – 
  > A framework that helps programs do the parallel computation on data. The map task takes input data and converts it into a dataset that can be computed in key value pairs. The output of the map task is consumed by reduce tasks to aggregate output and provide the desired result.

  > Consepts:
    1. Programming Model 
      1. Way of programing concepts to solve the problem.
    2. Programming Framework
      1. Consists of set of api, services.

4. Hadoop Common – 
  > Provides common Java libraries that can be used across all modules.

#### On top of this Hadoop Core Systems there are other hadoop services:
1. Hive: Relational database and accept simple sql query inside in it.
2. HBase: NoSql database to perform large volumn dataset.
3. Scoop: Ingestion Tool for import/export data to/from HDFS. (*Need to check more*)
4. Oozie: mostly ETL tool. (*Need to check more*)
5. Pig: Language similar like python. (*Need to check more*)
6. Scala: Language similar like unix/python. (*Need to check more*)
7. Fortron: Databricks SQL Analytics

#### Scenarios in Hadoop development:

1. Application Master Container:
  1. One data processing program (Hadoop M/R program) = One AM Container + Many other mapper and reducers. It follows master/slave architecture. So AM container is the master and the other mapper/reducers are the slaves. Always remember, you can have only one master. So only one AM container for one application.

2. If Map lost or failed:
  1. Lost mapper
    1. The mapper sends a heartbeat to the AM. If the AM doesn't receive a heartbeat, we assume the task failed or lost and the AM will start a new mapper for doing the work. 

  2. Failed mapper
    1. If the mapper failed with some runtime exception, the JVM notifies the error to the AM and the AM marks the mapper as failed. We also have some configurations to retry failed mappers. So AM might retry the mapper depending on the configuration. But when all the retries failed, the application fails with an error/exception.

#### Data Lake and Data Warehouse basic concept:
1. Data Lake
  1. is a blob storage, where you can store structured, non-structured, semi-structured , any kind of data, files.
  2. example: HDFS, S3, GCS, Azure Blob Storage, Cassendra File System.

2. Data Warehouse 
  1. is a OLAP database, supports only structured data.
  2. example: teradata, exadata.

### What is Spark?
Spark is data processing framework which workes on top of the distributed file system, cluster nodes and Resource Managers (Yarn, Mesos, Kubernates)

1. Spark is a data processing platform.
2. There are 2 ways to process the data in Spark:
  1. **spark table/database and sql**
    1. physical data storage layer: actual data store in backend file
        1. normal db has .dba file, only support structured data
        2. spark support avro, csv, parquet file, any types of file, unstructured or semi structured data and distributed storage (s3, hdfs, ADLS) as well.

    2. logical data layer: have row and column display of data

    3. metadata layer: consists of table schema, table creation date 
and other info.

  2. **dataframe**
    1. spark df is similar like spark table without metadata store.
    2. it has runtime metadata store which is called **catalog**.
    3. spark df is runtime memory object  and its also got deleted once application finished.

## Spark Key Notes:
1. Spark is **100x times faster** than Map-Reduce. Its actually do parallel jobs on distributed data.
2. Spark can be easily worked with Python, Scala, Java, R, **ease of use**.
3. Sparks **combines SQL, streaming, complex analytics** (Machine Learning)
4. Spark **can run anywhare** (Apache Hadoop, Apache Mesos, Databricks, Kubernates, Standalone Cluster etc.)
5. *spark dataframe and pandas dataframes* are not similar. **Dataframe** is a data structure and inside it we can perform various operations.
6. Spark Solution:
  1. Spark with Hadoop: Datalake
  2. Spark without hadoop: lakehouse

#### Spark RDD vs Dataframes 
1. Spark recommend to use Dataframe now. Spark Dataframe is a lazy evaluation on top of RDD.

## Databricks
1. Databricks is a ETL tools. It supports spark.
2. Databricks uses optimized spark on top of apache spark which is 5 times faster than apache spark.
3. Databricks only available on cloud (Azure, GCP, AWS).

#### Databricks Community Login
1. Ref: https://community.cloud.databricks.com/login.html

#### Databricks Workspace menu:
1. Workspace Type:
  1. Data Science & Engineering:
  2. Machine Learning: 

2. Compute
  1. All-purpose clusters: suitable for dev and test work.
  2. Job cluster: not available for community edition and its similar with ephemeral gcp cluster (when job finished, cluster will be shut down).

3. Jobs:
  1. this option is also not available from community edition

4. Settings:
  1. user settings:
    1. you can add git links, change passwords.
  2. Admin Console:
    1. you can add users.
    2. you can provide global init (shell script) to install anything on cluster before spark run and which are not installed via databricks runtime.

5. Create:
  1. Notebook
  2. table
  3. cluster

### Delta Lake
  1. Its provide ACID transaction and data consistency feature.
  2. **How to improve data processing in databricks**:
    1. blogs from Databricks: https://databricks.com/blog/2022/05/20/five-simple-steps-for-implementing-a-star-schema-in-databricks-with-delta-lake.html

#### PySpark Ref:
1. Youtube: 
  1. https://www.youtube.com/watch?v=_C8kWso4ne4&t=597s
2. Spark Official Doc:
  1. Python API Ref: https://spark.apache.org/docs/latest/api/python/reference/index.html

#### PySpark:
1. *PySpark is an interface for Apache Spark in Python*, is often used for large scale data.
2. create and start **SparkSession** before writing pyspark
3. when using **inferSchema=True** while read data from csv, please check the file size, as if inferSchema enabled, its reads the whole file once and provide the datatype of columns based on the data, otherwise, *by default all columns will be string*.
4. Check columns datatype or statistics on spark dataframe
  1. **printSchema(), dtypes, describe()**
5. check: **show()** and **collect()**
6. check: **select()** and **withcolumns()**
7. check: **na.drop**, **na.fill**
7. check: **display**

#### Install PySpark

In [2]:
! pip install pyspark

# Successfully installed py4j-0.10.9.3 pyspark-3.2.1

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer'))': /simple/py4j/
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 52.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=9d9d326ea65f899261b843ca8674d2f9be89ccafc572ca2fee4306a5a547d24d
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

#### Understand Pandas Dataframe

In [ ]:
import pandas as pd

df = pd.read_csv("/content/sample_emp.csv")

print(df)

        Name   age  Experience   Salary
0      Krish  31.0        10.0  30000.0
1  Sudhanshu  30.0         8.0  25000.0
2      Sunny  29.0         4.0  20000.0
3       Paul  24.0         3.0  20000.0
4     Harsha  21.0         1.0  15000.0
5    Shubham  23.0         2.0  18000.0
6     Mahesh   NaN         NaN  40000.0
7        NaN  34.0        10.0  38000.0
8        NaN  36.0         NaN      NaN

#### How to start writing PySpark

In [3]:
import pyspark
from pyspark.sql import SparkSession

#spark = SparkSession.builder.appName("Practise").getOrCreate()
spark = SparkSession.builder.getOrCreate()

#### SparkSession

In [4]:
# debug SparkSession variable
spark
# print(spark.getActiveSession)
# print(spark.version)
# print(spark.conf)
# print(spark.sparkContext)
# print(spark._instantiatedSession)

#### How to read csv file in pyspark

In [ ]:
diamonds_df = spark.read.format("csv") \
                .option("header", "true") \
                .option("inferSchema", "true") \
                .load("/content/diamonds.csv")

diamonds_df.show(10)

In [5]:
df_ps = spark.read.csv("/content/sample_emp.csv", header=True, inferSchema=True)

#### Fetch the data from spark dataframs

In [ ]:
# display all dataframe rows and columns
print(df_ps.show())

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

None

In [ ]:
# display 2 records from top
print(df_ps.show(2))  # similar with head(2) as its also showing top 2 records 
print(df_ps.head(2))

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+
only showing top 2 rows

None
[Row(Name='Krish', age=31, Experience=10, Salary=30000), Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000)]

In [ ]:
# display 2 records from down
print(df_ps.tail(2))

[Row(Name=None, age=34, Experience=10, Salary=38000), Row(Name=None, age=36, Experience=None, Salary=None)]

#### Check datatypes of dataframe
1. using **printSchema()** method
2. or using **dtypes** property

In [ ]:
# display the dataframe schema
# in pandas its, df.info()
print(df_ps.printSchema())

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

None

In [ ]:
df_ps.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

#### Computes basic statistics for numeric and string columns.
1. using **describe()**

In [ ]:
print(df_ps.describe())

print(df_ps.describe().show())

print(df_ps.describe("age").show())

DataFrame[summary: string, Name: string, age: string, Experience: string, Salary: string]
+-------+------+------------------+------------------+-----------------+
|summary|  Name|               age|        Experience|           Salary|
+-------+------+------------------+------------------+-----------------+
|  count|     7|                 8|                 7|                8|
|   mean|  null|              28.5| 5.428571428571429|          25750.0|
| stddev|  null|5.3718844791323335|3.8234863173611093|9361.776388210581|
|    min|Harsha|                21|                 1|            15000|
|    max| Sunny|                36|                10|            40000|
+-------+------+------------------+------------------+-----------------+

None
+-------+------------------+
|summary|               age|
+-------+------------------+
|  count|                 8|
|   mean|              28.5|
| stddev|5.3718844791323335|
|    min|                21|
|    max|                36|
+-------+------------------+

None

In [ ]:
# display the dataframe columns
print(df_ps.columns)

['Name', 'age', 'Experience', 'Salary']

#### Differebce between show() and collect()


|id | show() | collect()|
|--- | --- | ---|
|1 | Returns None, display the rows and columns as tabular format | Returns  all the records as list|


```python
# similar 
df_ps.select(["Name", "age"]).show()
df_ps.select("Name", "age").show()

df_ps.select(["Name", "age"]).collect()
df_ps.select("Name", "age").collect()
```

In [ ]:
# Display specific columns and custom columns from dataframes

df_ps_retirement_yr = df_ps.select("Name", "age", (60-df_ps.age).alias("retirement_yr_remaining")).collect() # create list of rows
print(df_ps_retirement_yr)

[Row(Name='Krish', age=31, retirement_yr_remaining=29), Row(Name='Sudhanshu', age=30, retirement_yr_remaining=30), Row(Name='Sunny', age=29, retirement_yr_remaining=31), Row(Name='Paul', age=24, retirement_yr_remaining=36), Row(Name='Harsha', age=21, retirement_yr_remaining=39), Row(Name='Shubham', age=23, retirement_yr_remaining=37), Row(Name='Mahesh', age=None, retirement_yr_remaining=None), Row(Name=None, age=34, retirement_yr_remaining=26), Row(Name=None, age=36, retirement_yr_remaining=24)]

#### How to add new/custom columns into dataframe using **select()** and **withcolumns()**
#### Differences betwen select() and withcolumns()

| id | select() | withcolumns() |
|---|---|---|
|1| select is used for to select specific columns | withColumns is used to add a new custom column|

In [ ]:
df_out_select = df_ps.select("name",  "age", (60-df_ps.age).alias("retirement_yr_remaining"))
print(df_out_select.show())

df_out_withcolumn = df_ps.withColumn("retirement_yr_remaining", 60-df_ps.age)
# df_out_withcolumn = df_ps.withColumn("retirement_yr_remaining", 60-df_ps["age"])  # df_ps.age and df_ps["age"] are same
print(df_out_withcolumn.show())

+---------+----+-----------------------+
|     name| age|retirement_yr_remaining|
+---------+----+-----------------------+
|    Krish|  31|                     29|
|Sudhanshu|  30|                     30|
|    Sunny|  29|                     31|
|     Paul|  24|                     36|
|   Harsha|  21|                     39|
|  Shubham|  23|                     37|
|   Mahesh|null|                   null|
|     null|  34|                     26|
|     null|  36|                     24|
+---------+----+-----------------------+

None
+---------+----+----------+------+-----------------------+
|     Name| age|Experience|Salary|retirement_yr_remaining|
+---------+----+----------+------+-----------------------+
|    Krish|  31|        10| 30000|                     29|
|Sudhanshu|  30|         8| 25000|                     30|
|    Sunny|  29|         4| 20000|                     31|
|     Paul|  24|         3| 20000|                     36|
|   Harsha|  21|         1| 15000|                     39|
|  Shubham|  23|         2| 18000|                     37|
|   Mahesh|null|      null| 40000|                   null|
|     null|  34|        10| 38000|                     26|
|     null|  36|      null|  null|                     24|
+---------+----+----------+------+-----------------------+

None

#### How to drop columns from pyspark dataframes

In [ ]:
df_out = df_out_withcolumn.drop("retirement_yr_remaining")
print("After dropping column", df_out.show())

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

After dropping column None

#### How to rename a column into Dataframe

In [ ]:
df_out_renamed = df_out.withColumnRenamed("Age","Actual Age")
print(df_out.show())  # no changes reflected on original dataframe
print(df_out_renamed.show())  # changes reflected on returned dataframe after withColumnRenamed()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

None
+---------+----------+----------+------+
|     Name|Actual Age|Experience|Salary|
+---------+----------+----------+------+
|    Krish|        31|        10| 30000|
|Sudhanshu|        30|         8| 25000|
|    Sunny|        29|         4| 20000|
|     Paul|        24|         3| 20000|
|   Harsha|        21|         1| 15000|
|  Shubham|        23|         2| 18000|
|   Mahesh|      null|      null| 40000|
|     null|        34|        10| 38000|
|     null|        36|      null|  null|
+---------+----------+----------+------+

None

#### how to drop rows which has null values

##### drop parameters:
1. *how* : str, optional
  1. 'any' or 'all'.
  2. If 'any', drop a row if it contains any nulls.
  3. If 'all', drop a row only if all its values are null.

2. *thresh*: int, optional
  1. default None
  2. If specified, drop rows that have less than thresh non-null values.
  3. This overwrites the how parameter.

3. *subset*: str, tuple or list, optional
  1. optional list of column names to consider having null will be deleted.

In [ ]:
print(df_out_renamed.na.drop(how="any", thresh=1).show())
print(df_out_renamed.na.drop(how="any", subset=["Experience"]).show())
print(df_out_renamed.na.drop().show())

+---------+----------+----------+------+
|     Name|Actual Age|Experience|Salary|
+---------+----------+----------+------+
|    Krish|        31|        10| 30000|
|Sudhanshu|        30|         8| 25000|
|    Sunny|        29|         4| 20000|
|     Paul|        24|         3| 20000|
|   Harsha|        21|         1| 15000|
|  Shubham|        23|         2| 18000|
|   Mahesh|      null|      null| 40000|
|     null|        34|        10| 38000|
|     null|        36|      null|  null|
+---------+----------+----------+------+

None
+---------+----------+----------+------+
|     Name|Actual Age|Experience|Salary|
+---------+----------+----------+------+
|    Krish|        31|        10| 30000|
|Sudhanshu|        30|         8| 25000|
|    Sunny|        29|         4| 20000|
|     Paul|        24|         3| 20000|
|   Harsha|        21|         1| 15000|
|  Shubham|        23|         2| 18000|
|     null|        34|        10| 38000|
+---------+----------+----------+------+

None
+---------+----------+----------+------+
|     Name|Actual Age|Experience|Salary|
+---------+----------+----------+------+
|    Krish|        31|        10| 30000|
|Sudhanshu|        30|         8| 25000|
|    Sunny|        29|         4| 20000|
|     Paul|        24|         3| 20000|
|   Harsha|        21|         1| 15000|
|  Shubham|        23|         2| 18000|
+---------+----------+----------+------+

None

#### How to fill/handle missing values (null) in dataframe

In [ ]:
print(df_out_renamed.na.fill("missing", subset=["Name", "Actual Age","Experience"]).show())  # doesn't affect "Actual Age","Experience" as their datatype is int
print(df_out_renamed.na.fill({'name': 'missing', 'actual age': 0, 'salary': 0.00}).show())

+---------+----------+----------+------+
|     Name|Actual Age|Experience|Salary|
+---------+----------+----------+------+
|    Krish|        31|        10| 30000|
|Sudhanshu|        30|         8| 25000|
|    Sunny|        29|         4| 20000|
|     Paul|        24|         3| 20000|
|   Harsha|        21|         1| 15000|
|  Shubham|        23|         2| 18000|
|   Mahesh|      null|      null| 40000|
|  missing|        34|        10| 38000|
|  missing|        36|      null|  null|
+---------+----------+----------+------+

None
+---------+----------+----------+------+
|     Name|Actual Age|Experience|Salary|
+---------+----------+----------+------+
|    Krish|        31|        10| 30000|
|Sudhanshu|        30|         8| 25000|
|    Sunny|        29|         4| 20000|
|     Paul|        24|         3| 20000|
|   Harsha|        21|         1| 15000|
|  Shubham|        23|         2| 18000|
|   Mahesh|         0|      null| 40000|
|  missing|        34|        10| 38000|
|  missing|        36|      null|     0|
+---------+----------+----------+------+

None

#### Imputer (\** *Need to learn more about* )
1. Imputer also helps in handling null values in spark dataframe by Mean, Median values.

In [ ]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("median")

# Add imputation cols to df
imputer.fit(df_ps).transform(df_ps).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|null|      null| 40000|         29|                 4|         40000|
|     null|  34|        10| 38000|         34|                10|         38000|
|     null|  36|      null|  null|         36|                 4|         20000|
+---------+----+----------+------+-----------+------------------+--------------+

#### How to filter the spark dataframe
1. if you want to add multiple filter, separate the each filter using ()
2. use "~" as not, "|" as or , "&" as and

In [ ]:
# print(df_ps.filter("age > 21").show())
# print(df_ps.filter(df_ps.age > 21, ).show())
print(df_ps.filter(df_ps["age"] > 21).show())  # recommend to use, others also same in nature
# print(df_ps.where("age > 21").show())
# print(df_ps.where(df_ps.age > 21, ).show())
# print(df_ps.where(df_ps["age"] > 21).show())

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|  Shubham| 23|         2| 18000|
|     null| 34|        10| 38000|
|     null| 36|      null|  null|
+---------+---+----------+------+

None

#### use where and selcet same time on spark Dataframe similar like sql

In [6]:
df_ps.where((df_ps["Salary"] >= 20000) & (df_ps["Salary"] < 35000)).select(df_ps["Name"], df_ps["Age"], df_ps["Salary"]).show()
# df_ps.where(df_ps["Salary"] >= 20000).where(df_ps["Salary"] < 35000).select(df_ps["Name"], df_ps["Age"], df_ps["Salary"]).show()

+---------+---+------+
|     Name|Age|Salary|
+---------+---+------+
|    Krish| 31| 30000|
|Sudhanshu| 30| 25000|
|    Sunny| 29| 20000|
|     Paul| 24| 20000|
+---------+---+------+

#### get the data from the spark dataframe using groupBy

In [ ]:
from pyspark.sql.functions import avg

results_df = diamonds_df.select("color", "price") \
              .groupBy("color") \
              .agg(avg("price")) \
              .sort("color")

results_df.show()

#### link a temp view with this spark dataframe for sql query

In [ ]:
diamonds_df.createOrReplaceTempView("tbl_diamonds")
diamonds_df = spark.sql("select * from tbl_diamonds where price <= 350")
diamonds_df.show()
spark.catalog.dropTempView("tbl_diamonds")